// ===============
// DIVIDERS
// ===============

.divider-diamond-light,
.divider-diamond-gray,
.divider-diamond-normal,
.divider-diamond-dark {
  height: 6px;
  margin: 30px auto;
  max-width: 250px;
}

.divider-diamond-light,
.divider-diamond-normal,
.divider-diamond-gray {
  background-color: $c-lightest;
}

.divider-diamond-dark {
  background-color: $c-dark;
}

.divider-diamond-light::after,
.divider-diamond-gray::after,
.divider-diamond-normal::after,
.divider-diamond-dark::after {
  content: '\f219';
  display: inline-block;
  font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 2em;
  font-weight: normal;
  padding: 0 .1em;
  position: relative;
  top: -.5em;
}

.divider-diamond-light::after {
  background-color: $c-dark;
  color: $c-lightest;
}

.divider-diamond-gray::after {
  background-color: $c-gray;
  color: $c-lightest;
}

.divider-diamond-normal::after {
  background-color: $c-light;
  color: $c-lightest;
}

.divider-diamond-dark::after {
  background-color: $c-lightest;
  color: $c-dark;
}
