// ===============
// TEXT
// ===============

// Colors
h2.title-dark,
h2.title-gray,
h2.title-normal,
h2.title-light {
  font-size: 4em;
}

h2.title-dark {
  color: $c-dark;
}

h2.title-gray {
  color: $c-gray;
}

h2.title-normal {
  color: $c-light;
}

h2.title-light {
  color: $c-lightest;
}

.text-light {
  color: $c-lightest;
}

.text-gray {
  color: $c-gray;
}

.text-normal {
  color: $c-light;
}

.text-dark {
  color: $c-dark;
}

.icon-light,
.icon-gray,
.icon-normal,
.icon-dark {
  font-size: 2em;
}

.icon-light {
  color: $c-lightest;
}

.icon-gray {
  color: $c-gray;
}

.icon-normal {
  color: $c-light;
}

.icon-dark {
  color: $c-dark;
}

// Style
.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 900;
}

.text-italicize {
  font-style: italic;
}

.text-thin {
  font-weight: 100;
}
