// ===============
// INTRODUCTION
// ===============

#introduction {
  .container {
    background-color: $c-light;
    padding: 160px 15px 100px 15px;
  }

  .intro-img {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
  }

  .img-center {
    margin: 0 auto;
  }

  .intro-text {
    text-align: center;
  }

  .name {
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
  }

  .king-border {
    background-color: white;
    height: 30px;
    margin: 0 auto;
    width: 30px;
  }

  .skills {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
  }
}
