// ===============
// BASE
// ===============

// Global Defaults
html, body {
  border: 0;
  box-sizing: border-box;
  color: $c-lightest;
  font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

p.small {
  font-size: 16px;
}

// Headlines
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

// Bootstrap Modifications
section .container {
  margin: 0;
  width: 100%;
}

// Classes
.no-bottom-margin {
  margin-bottom: 0;
}

.small-bottom-margin {
  margin-bottom: 20px;
}

.medium-bottom-margin {
  margin-bottom: 40px;
}

.large-bottom-margin {
  margin-bottom: 80px;
}

.small-top-margin {
  margin-top: 20px;
}
.debug-border {
  border: 1px solid red;
}
