// ===============
// BASE
// ===============

// Global Defaults
html, body {
  border: 0;
  box-sizing: border-box;
  color: $c-lightest;
  margin: 0;
  padding: 0;
}

p {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

p.small {
  font-size: 16px;
}

body {
  font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Headlines
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

// Bootstrap Modifications
section .container {
  margin: 0;
  width: 100%;
}
