// ===============
// FONTS
// ===============

@font-face {
  font-family: Lato;
  src: url(../../components/lato/font/lato-semibold/lato-semibold.woff);
}

@font-face {
  font-family: Montserrat;
  src: url(../../components/montserrat/Montserrat-Regular.otf);
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url(../../components/montserrat/Montserrat-Bold.otf);
}

@font-face {
  font-family: Fontawesome;
  src: url(../../components/fontawesome/fonts/FontAwesome.otf);
}
