// ===============
// FONTS
// ===============
@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url("/app/styles/fonts/fontawesome/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("/app/styles/fonts/fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("/app/styles/fonts/fontawesome/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("/app/styles/fonts/fontawesome/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("/app/styles/fonts/fontawesome/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("/app/styles/fonts/fontawesome/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/app/styles/fonts/bootstrap/fonts/glyphicons-halflings/glyphicons-halflings-regular.eot");
  src: url("/app/styles/fonts/bootstrap/fonts/glyphicons-halflings/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/app/styles/fonts/bootstrap/fonts/glyphicons-halflings/glyphicons-halflings-regular.woff") format("woff"), url("/app/styles/fonts/bootstrap/fonts/glyphicons-halflings/glyphicons-halflings-regular.ttf") format("truetype"), url("/app/styles/fonts/bootstrap/fonts/glyphicons-halflings/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

@font-face {
  font-family: Lato;
  font-weight: 100;
  src: url(/app/styles/fonts/lato/font/lato-light/lato-light.woff);
}

@font-face {
  font-family: Lato;
  src: url(/app/styles/fonts/lato/font/lato-semibold/lato-semibold.woff);
}

@font-face {
  font-family: Lato;
  font-weight: 900;
  src: url(/app/styles/fonts/lato/font/lato-bold/lato-bold.woff);
}

@font-face {
  font-family: Lato;
  font-style: italic;
  src: url(/app/styles/fonts/lato/font/lato-italic/lato-italic.woff);
}

@font-face {
  font-family: Montserrat;
  src: url(/app/styles/fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url(/app/styles/fonts/montserrat/Montserrat-Bold.otf);
}
