// ===============
// VARIABLES
// ===============

// Colors
$c-lightest: #fff;
$c-light: #9fde3e;
$c-dark-lighter: #263248;
$c-dark: #1a2945;
$c-darkest: #111;

$c-gray: #999;


// Old Colors
$c-old-dark: #152137; // Brown
$c-orange: #FFA438; // Orange for Green
