// ===============
// VARIABLES
// ===============

// Colors
// Dark-Blue, Green, White
$c-lightest: #fff;
$c-light: #18bc9c;
$c-dark-lighter: #263248;
$c-dark: #1a2945;
$c-darkest: #111;

$c-gray: #333;


// Old Colors
$c-old-dark: #152137; // Brown
$c-orange: #FFA438; // Orange for Green
